@model Diary.Entities.DTOs.Common.IndexViewModel

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid d-flex justify-content-center" id="view-all">
	<div class="container-fluid">
		@await Html.PartialAsync("~/Views/Home/_RecordView.cshtml", Model.RecordViewDTOs)
	</div>
</div>

@if (Model.DisplayPagination)
{
	var prevDisabled = !Model.PagingModel.HasPreviousPage ? "disabled" : "";
	var nextDisabled = !Model.PagingModel.HasNextPage ? "disabled" : "";

	<a asp-action="Index" asp-route-page="@(Model.PagingModel.PageNumber - 1)" class="btn btn-default @prevDisabled">Назад</a>
	<a asp-action="Index" asp-route-page="@(Model.PagingModel.PageNumber + 1)" class="btn btn-default @nextDisabled">Вперед</a>
}